header {
	width: 1024px;
	margin: 0 auto;
	background: #33bea9;
	height: 41px;
	margin-top: 30px;
}
header img.logo {
	float: left;
	position: relative;
	top: -12px;
}
header nav ul li {
	display: inline-block;
}
header nav ul li a {
	padding: 10px 10px;
	display: block;
	color: white;
	text-decoration: none;
	font-size: 130%;
}
#main {
	width: 1024px;
	margin: 0 auto;
	margin-top: 15px;
}
#news {
	/*background: #bddfe0;*/
}
#main section {
	padding: 15px;
}
#main section > h1 {
	text-align: left;
	font-size: 180%;
	margin-bottom: 15px;
}
#news article {
	height: 60px;
	margin-bottom: 5px;
}
#news article h1 a {
	font-size: 120%;
}
#news article img {
	float: left;
	margin-right: 10px;
}
#news article time {
	font-size: 105%;
	display: block;
	margin-bottom: 5px;
}
#courses {
	vertical-align: top;
	width: 390px;
	text-align: center;
}
#courses ul {
	border-radius: 5px;
	border: 1px #bbb solid;
}
#courses ul li {
	display: inline-block;
	width: 55px;
	padding: 20px;
}
#courses span.icon {
	font-weight: bold;
	font-size: 130%;
	display: block;
	text-align: center;
	margin-bottom: 5px;
}
#courses span.value {
	font-size: 110%;
	display: block;
	text-align: center;
}
#weather {
	display: block;
}
#weather ul {
	border-radius: 5px;
	border: 1px #bbb solid;
	text-align: center;
}
#weather ul li {
	display: inline-block;
	width: 100px;
	padding: 20px 45px;
}
#weather ul li span { 
	display: block;
}
#weather ul li span.deg {
	margin-bottom: 5px;
	font-weight: bold;

	font-size: 110%;
}
#weather ul li img {
	text-align: center;
}
#cinema_list {
	display: inline-block;
	vertical-align: top;
	width: 40%;
}
#cinema_list li {
	padding: 10px 40px 10px 0;
	font-size: 130%;
	display: block;
	cursor: pointer;
}
#cinema_list li:hover, #cinema_list li.active {
	background: #eee;
}
#left_top {
	width: 50%;
	display: inline-block;
}
#right_top {
	display: inline-block;
	vertical-align: top;
}
#cinema article.curfilm  {
	width: 54%;
	display: inline-block;
	padding: 20px;
	font-size: 120%;
	background: #eee;
	position: relative;
}
#cinema article.curfilm  span.genre {
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
}
#cinema article.curfilm h1 {
	font-size: 150%;
	margin-bottom: 20px;
}
#cinema article.curfilm img {
	float: left;
	margin-right: 10px;
	vertical-align: top;
	width: 120px;
}
#cinema article.curfilm div {
	margin-left: 130px;
	min-height: 180px;
}
#cinema article.curfilm div a {
	display: block;
	margin-top: 10px;
}
#cinema article.curfilm ul.times {
	display: block;
	width: 100%;
	margin-top: 20px;
	text-align: center;
}
#cinema article.curfilm ul.times li {
	display: inline-block;
	font-size: 90%;
	text-align: center;
	margin: 0 9px;
}
#cinema article.curfilm ul.times li span {
	display: block;
}
#cinema article.curfilm ul.times li span.time {
	font-size: 170%;
	margin-bottom: 3px;
}